html
  head
    title Payment Confirmation
  body
    h1 Payment Successful!
    p Your payment details:
    table
      tr
        th First Name
        td #{firstName}
      tr
        th Last Name
        td #{lastName}
      tr
        th Username
        td #{userName}
      tr
        th Unique Pin
        td #{uniquePin}
      tr
        th Email Address
        td #{emailAddress}
      tr
        th Seller Email Address
        td #{sellerEmailAddress}
      tr
        th Account Serial No
        td #{accountSerialNo}
      tr
        th Account Type
        td #{accountType}
      tr
        th Account Price
        td #{accountPrice}
      tr
        th Account Tax
        td #{accountTax}
      tr
        th Total Account Price
        td #{totalAccountPrice}
      tr
        th Transaction ID
        td #{transitionId}
      tr
        th Transaction ID Date
        td #{transitionIdDate}
      tr
        th Payment Account Name
        td #{paymentAccountName}
      tr
        th Payment Account Address
        td #{paymentAccountAddress}
      tr
        th Select Payment Method
        td #{selectPaymentMethod}
      tr
        th Buyer Code
        td #{buyerCode}
      tr
        th Seller Code
        td #{sellerCode}
    p Thank you for your purchase!
