<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>

</head>
<style>
  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.table {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}
.totalAccount{
  position: absolute;
  top: 6rem;
}
</style>

<body>
    <div class="container1">
    <a href="/admin/collection-ensureIndex/kira-yagami-082561-lira-Integrate-page-of-admin-931249/success" style="text-align: center; text-decoration: none; position: relative;
     left: 47%;" role="button">Go tO Home</a>
        <h2 style="text-align: center; margin-top: 2rem;">All User SignUp</h2>
         </div>

    <div class="container">
        
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="name" class="filter__link" href="#">User Id</a></div>
                <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">First Name</a></div>
                <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Last Name</a></div>
                <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Email</a></div>
                <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Time&date</a></div>
                <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Email Activation</a></div>
            </div>
            <div class="table-content">	
            <% users.forEach(function(user) { %>
                <div class="table-row">		
                  <h1 class="totalAccount"></h1>
                    <div class="table-data">  <%= user.userId %></div>
                    <div class="table-data">
                        <%= user.firstName %>

                    </div>
                    <div class="table-data">
                        <%= user.lastName %>

                    </div>
                    <div class="table-data">
                        <%= user.email %>

                    </div>
                  
                  
                    <div class="table-data">
                        <%= user.createdAt %>

                    </div>
                    <div class="table-data">
                        <%= user.active %>
                    </div>
                </div>
                <% }); %>
            </div>	
        </div>
    </div>

    <script>
      // Count the total number of rows in the table
      var totalAccounts = document.querySelectorAll('.table-row').length;

      // Update the content of the h1 element with the total count
      document.querySelector('h1').innerText = 'Total Users : ' + totalAccounts;
  </script>


</body>
</html>