<!DOCTYPE html>
<html>
<head>
    <title>All Buyer Forms</title>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
  
    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #f5f5f5;
    }
  
    .active-row {
      background-color: #cce5ff;  /* Light blue for the active row */
    }
  </style>
  
<body>
    <h1>All Buyer Forms</h1>

    <% if (buyerForms.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Sr NO</th>
                    <th>User Name</th>
                    <th>Seller Username</th>
                    <th>Email</th>
                    <th>Total Account Type Available</th>
                    <th>Total Account ID Available</th>
                    <th>Eight Digit Code</th>
                    <th> Date And Time</th>
                </tr>
            </thead>
            <tbody>
                <% buyerForms.forEach((buyerForm, index) => { %>
                    <tr class="<%= index === selectedRowIndex ? 'active-row' : '' %>">
                        <td><%= index + 1 %></td>
                        <td><%= buyerForm.userInfo.userName %></td>
                        <td><%= buyerForm.sellerUserName %></td>
                        <td><%= buyerForm.userInfo.email %></td>
                        <td><%= buyerForm.totalAccountTypeAvailable %></td>
                        <td><%= buyerForm.totalAccountIdAvailable %></td>
                        <td><%= buyerForm.eightDigitCodeRandom %></td>
                        <td><%= buyerForm.createdAt %></td>

                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No buyer forms found.</p>
    <% } %>
        
    
    
    <a href="/">Home</a>
</body>
</html>
