<!DOCTYPE html>
<html>
<head>
  <title>Buy and Sell Record Details</title>
</head>
<body>
  <h1>Buy and Sell Record Details</h1>
  <ul>
    <li>_id: <%= record._id %></li>
    <li>createdAt: <%= record.createdAt %></li>
    <li>accPrice: <%= record.accPrice %></li>
    <li>accName: <%= record.accName %></li>
    <li>accountUrl: <%= record.accountUrl %></li>
    <li>accountAge: <%= record.accountAge %></li>
    <li>serialNo: <%= record.serialNo %></li>
    <li>earningPlatforms: <%= record.earningPlatforms %></li>
    <li>details_id: <%= record.details_id %></li>
    <li>accountFullname: <%= record.accountFullname %></li>
    <li>descFull: <%= record.descFull %></li>
    <li>siteAge: <%= record.siteAge %></li>
    <li>monthlyProfit: <%= record.monthlyProfit %></li>
    <li>profitMargin: <%= record.profitMargin %></li>
    <li>pageViews: <%= record.pageViews %></li>
    <li>profitMultiple: <%= record.profitMultiple %></li>
    <li>revenueMultiple: <%= record.revenueMultiple %></li>
    <li>performanceOverviewimg: <%= record.performanceOverviewimg %></li>
    <li>performanceOverviewDetails: <%= record.performanceOverviewDetails %></li>
    </ul>
  
</body>
</html>
