<!DOCTYPE html>
<html>
<head>
    <title>All Seller Forms</title>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
  
    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #f5f5f5;
    }
  
    .active-row {
      background-color: #cce5ff;  /* Light blue for the active row */
    }
  </style>
<body>
   <h1>All Seller Forms</h1>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Account Type</th>
      <th>Buyer User Name</th>
      <th>Account Payment Received From Buyer</th>
      <th> Account Id</th>
      <th>Seller Form Main Buyer GCF Code</th> 
      <th>Created At</th> 
    </tr>
  </thead>
  <tbody>
    <% sellerForms.forEach(sellerForm => { %>
      <tr>
        <td><%= sellerForm.userInfo.username %></td>
        <td><%= sellerForm.userInfo.email %></td>
        <td><%= sellerForm.accountDetails.accountType %></td>
        <td><%= sellerForm.accountDetails.BuyeruserName %></td>
        <td><%= sellerForm.accountDetails.accountPaymentReceivedFromBuyer %></td>
        <td><%= sellerForm.accountDetails.accountId %></td>
        <td><%= sellerForm.sellerFormMainBuyerGCFCode %></td>
        <td><%= sellerForm.createdAt %></td> 
      </tr>
    <% }) %>
  </tbody>
</table>

    
    
</body>
</html>
